# Ignore node_modules
node_modules/

# Ignore Git files
.git
.gitignore

# Ignore Docker images tar files
docker/images/*.tar

# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
.env

# Ignore test coverage results
coverage/
*.cover

# Ignore logs and temp files
*.log
*.tmp

# Ignore VSCode settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db